.image-row-container {
  padding: 20px; 
  margin: 10px 30px;
  background-color: lightblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}

.image-row {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 125px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
  
.image:hover {
  transform: scale(1.1); 
  cursor: pointer;
}